* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f5f6fa;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.form-section,
.list-section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

.field {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  padding: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  padding: 8px 14px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  min-height: 14px;
}

.invalid {
  border: 1px solid red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
td.title-column {
    max-width: 200px;   /* ширина для назви */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.author-column {
    max-width: 150px;   /* ширина для автора */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead {
  background: #eee;
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
}
